<div class="product-item">
  <img src="<%= product.imagePath %>" alt="<%= product.name %>" width="150" height="150">

  <div class="product-item__header">
    <h4 class="product-item__name">
      <%= product.name %>
    </h4>

    <span class="product-item__price">
      <%= product.formattedPrice %>
    </span>
  </div>

  <div class="product-item__body">
    <p class="product-item__body-item">
      <strong>Category:</strong> <%= product.category.name %>
    </p>

    <p class="product-item__body-item">
      <strong>Brand:</strong> <%= product.brand.name %>
    </p>

    <% if (product.color) { %>
    <p class="product-item__body-item">
      <strong>Color:</strong> <%= product.color %>
    </p>
    <% } %>

    <% if (product.size) { %>
    <p class="product-item__body-item">
      <strong>Size:</strong> <%= product.size %>
    </p>
    <% } %>

    <% if (product.description) { %>
    <p class="product-item__body-item">
      <strong>Description:</strong> <%= product.description %>
    </p>
    <% } %>

    <a href="/products/<%= product.id %>" class="product-item__detail-link">
      Detail
    </a>
  </div>
</div>
